button{
	display: inline-block;
	color: #F86400;
	font-weight: 700;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
	width: 500px;
	height: 100px;
	background-color: #FFD9AA;
	font-size: 25px;
}

button:hover { background: white ; }
button:active { background: #F0F0F0;}

#clickCount{
	font-size: 170px;
	margin-top: 50px;
	font-weight: 900;
	
	
}

#myImg{
	margin-top:5%;
	margin-left: 10%;
}



	
