a.rollover {
    background: url(жопа2.jpg); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 800px; /* Ширина рисунка */
    height: 584px; /*  Высота рисунка */

   }

a.rollover:hover{
	background: url(жопа.jpg);
}